/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$fb-name: 'fb';
$fb-x: 150px;
$fb-y: 138px;
$fb-offset-x: -150px;
$fb-offset-y: -138px;
$fb-width: 31px;
$fb-height: 30px;
$fb-total-width: 266px;
$fb-total-height: 226px;
$fb-image: '../images/sprite.png';
$fb: (150px, 138px, -150px, -138px, 31px, 30px, 266px, 226px, '../images/sprite.png', 'fb', );
$ico-dates-name: 'ico-dates';
$ico-dates-x: 203px;
$ico-dates-y: 138px;
$ico-dates-offset-x: -203px;
$ico-dates-offset-y: -138px;
$ico-dates-width: 16px;
$ico-dates-height: 16px;
$ico-dates-total-width: 266px;
$ico-dates-total-height: 226px;
$ico-dates-image: '../images/sprite.png';
$ico-dates: (203px, 138px, -203px, -138px, 16px, 16px, 266px, 226px, '../images/sprite.png', 'ico-dates', );
$ico-plai-name: 'ico-plai';
$ico-plai-x: 117px;
$ico-plai-y: 138px;
$ico-plai-offset-x: -117px;
$ico-plai-offset-y: -138px;
$ico-plai-width: 33px;
$ico-plai-height: 33px;
$ico-plai-total-width: 266px;
$ico-plai-total-height: 226px;
$ico-plai-image: '../images/sprite.png';
$ico-plai: (117px, 138px, -117px, -138px, 33px, 33px, 266px, 226px, '../images/sprite.png', 'ico-plai', );
$ico-time-name: 'ico-time';
$ico-time-x: 181px;
$ico-time-y: 138px;
$ico-time-offset-x: -181px;
$ico-time-offset-y: -138px;
$ico-time-width: 22px;
$ico-time-height: 21px;
$ico-time-total-width: 266px;
$ico-time-total-height: 226px;
$ico-time-image: '../images/sprite.png';
$ico-time: (181px, 138px, -181px, -138px, 22px, 21px, 266px, 226px, '../images/sprite.png', 'ico-time', );
$in-name: 'in';
$in-x: 223px;
$in-y: 97px;
$in-offset-x: -223px;
$in-offset-y: -97px;
$in-width: 31px;
$in-height: 30px;
$in-total-width: 266px;
$in-total-height: 226px;
$in-image: '../images/sprite.png';
$in: (223px, 97px, -223px, -97px, 31px, 30px, 266px, 226px, '../images/sprite.png', 'in', );
$load-more-icon-name: 'load-more-icon';
$load-more-icon-x: 219px;
$load-more-icon-y: 138px;
$load-more-icon-offset-x: -219px;
$load-more-icon-offset-y: -138px;
$load-more-icon-width: 21px;
$load-more-icon-height: 12px;
$load-more-icon-total-width: 266px;
$load-more-icon-total-height: 226px;
$load-more-icon-image: '../images/sprite.png';
$load-more-icon: (219px, 138px, -219px, -138px, 21px, 12px, 266px, 226px, '../images/sprite.png', 'load-more-icon', );
$load-more-mini-icon-name: 'load-more-mini-icon';
$load-more-mini-icon-x: 254px;
$load-more-mini-icon-y: 97px;
$load-more-mini-icon-offset-x: -254px;
$load-more-mini-icon-offset-y: -97px;
$load-more-mini-icon-width: 10px;
$load-more-mini-icon-height: 6px;
$load-more-mini-icon-total-width: 266px;
$load-more-mini-icon-total-height: 226px;
$load-more-mini-icon-image: '../images/sprite.png';
$load-more-mini-icon: (254px, 97px, -254px, -97px, 10px, 6px, 266px, 226px, '../images/sprite.png', 'load-more-mini-icon', );
$logo-bootom-name: 'logo-bootom';
$logo-bootom-x: 154px;
$logo-bootom-y: 0px;
$logo-bootom-offset-x: -154px;
$logo-bootom-offset-y: 0px;
$logo-bootom-width: 112px;
$logo-bootom-height: 97px;
$logo-bootom-total-width: 266px;
$logo-bootom-total-height: 226px;
$logo-bootom-image: '../images/sprite.png';
$logo-bootom: (154px, 0px, -154px, 0px, 112px, 97px, 266px, 226px, '../images/sprite.png', 'logo-bootom', );
$logo-top-name: 'logo-top';
$logo-top-x: 0px;
$logo-top-y: 0px;
$logo-top-offset-x: 0px;
$logo-top-offset-y: 0px;
$logo-top-width: 154px;
$logo-top-height: 138px;
$logo-top-total-width: 266px;
$logo-top-total-height: 226px;
$logo-top-image: '../images/sprite.png';
$logo-top: (0px, 0px, 0px, 0px, 154px, 138px, 266px, 226px, '../images/sprite.png', 'logo-top', );
$maik-icon-name: 'maik-icon';
$maik-icon-x: 88px;
$maik-icon-y: 189px;
$maik-icon-offset-x: -88px;
$maik-icon-offset-y: -189px;
$maik-icon-width: 25px;
$maik-icon-height: 37px;
$maik-icon-total-width: 266px;
$maik-icon-total-height: 226px;
$maik-icon-image: '../images/sprite.png';
$maik-icon: (88px, 189px, -88px, -189px, 25px, 37px, 266px, 226px, '../images/sprite.png', 'maik-icon', );
$plai-big-name: 'plai-big';
$plai-big-x: 0px;
$plai-big-y: 138px;
$plai-big-offset-x: 0px;
$plai-big-offset-y: -138px;
$plai-big-width: 88px;
$plai-big-height: 88px;
$plai-big-total-width: 266px;
$plai-big-total-height: 226px;
$plai-big-image: '../images/sprite.png';
$plai-big: (0px, 138px, 0px, -138px, 88px, 88px, 266px, 226px, '../images/sprite.png', 'plai-big', );
$tw-name: 'tw';
$tw-x: 191px;
$tw-y: 97px;
$tw-offset-x: -191px;
$tw-offset-y: -97px;
$tw-width: 32px;
$tw-height: 30px;
$tw-total-width: 266px;
$tw-total-height: 226px;
$tw-image: '../images/sprite.png';
$tw: (191px, 97px, -191px, -97px, 32px, 30px, 266px, 226px, '../images/sprite.png', 'tw', );
$video-icon-2-name: 'video-icon-2';
$video-icon-2-x: 154px;
$video-icon-2-y: 97px;
$video-icon-2-offset-x: -154px;
$video-icon-2-offset-y: -97px;
$video-icon-2-width: 37px;
$video-icon-2-height: 32px;
$video-icon-2-total-width: 266px;
$video-icon-2-total-height: 226px;
$video-icon-2-image: '../images/sprite.png';
$video-icon-2: (154px, 97px, -154px, -97px, 37px, 32px, 266px, 226px, '../images/sprite.png', 'video-icon-2', );
$video-icon-name: 'video-icon';
$video-icon-x: 88px;
$video-icon-y: 138px;
$video-icon-offset-x: -88px;
$video-icon-offset-y: -138px;
$video-icon-width: 29px;
$video-icon-height: 51px;
$video-icon-total-width: 266px;
$video-icon-total-height: 226px;
$video-icon-image: '../images/sprite.png';
$video-icon: (88px, 138px, -88px, -138px, 29px, 51px, 266px, 226px, '../images/sprite.png', 'video-icon', );
$spritesheet-width: 266px;
$spritesheet-height: 226px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($fb, $ico-dates, $ico-plai, $ico-time, $in, $load-more-icon, $load-more-mini-icon, $logo-bootom, $logo-top, $maik-icon, $plai-big, $tw, $video-icon-2, $video-icon, );
$spritesheet: (266px, 226px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
